*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#050505;
    color:white;
    overflow-x:hidden;
}

.hero{
    position:relative;
    width:100%;
    height:100vh;
}

.hero-image{
    width:100%;
    height:100%;
    object-fit:cover;
    filter:brightness(35%);
}

.overlay{

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    width:90%;
    max-width:900px;

    text-align:center;

}

h1{

    font-size:65px;

    margin-bottom:15px;

    letter-spacing:2px;

}

.dates{

    color:#bbbbbb;

    font-size:20px;

    margin-bottom:35px;

}

.quote{

    font-size:22px;

    line-height:1.8;

    margin-bottom:40px;

}

button{

    padding:18px 40px;

    border:none;

    border-radius:50px;

    background:#2d6cff;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.4s;

}

button:hover{

    transform:scale(1.08);

    background:#4c82ff;

}
